/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: auto;
    background-color: rgb(39, 38, 38);
    margin-top: 1.5rem ;
    
    p {
        color: whitesmoke;
        font-size: 0.7rem;
    }

}

