/*SECTION INDEX INICIO*/

.imgdata {
    display: flex;
    margin: 0;
    background-color:rgba(255, 255, 255, 0.737);
    flex-direction: column;
    

    div {
        text-align: center;
        margin: 2rem 0.5rem auto 0.5rem;
    }

    p {
        display: flex;
        text-align: center;
        justify-content: center;
    }
}

/* SECTION INDEX FINAL*/


section .sectionfinal div {
    display: flex;
    margin: auto;
    background-color:rgba(255, 255, 255, 0.737);
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: rgba(186, 168, 168, 0);
    
}

.articlefinal {
    h3{
        display: flex;
        margin: auto;
        justify-content: center;
        text-align: center;
        padding-top: 3rem;
    }
    p {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0.7rem;

        img {
            display: flex;
            justify-content: center;
            width: 3rem;
        }
    }
    
}

.contactanos {
    h3 {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0.7rem;
    }

        p  {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0.7rem;
        }
}

/*SECTION TEXTO NOSOTROS*/

.sectionnosotros {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 0.7rem;
        font-size: 1rem;

        p {
            margin: 1rem;
            font-size: 0.8rem;
        }
}

/*SECTION TEXTO CONTACTO*/

.sectioncontacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0.7rem;

    p {
        margin: 1rem;
    }
}


@media (min-width: 500px) {
    .sectionnosotros {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 0.7rem;
        font-size: 1.5rem;

        p {
            margin: 1rem;
            font-size: 1.1rem;
        }
    }

    .imgdata {
        div p {
            font-size: 1.2rem;
        }
}
}


@media (min-width: 900px) {
    .imgdata {
    display: flex;
    margin: 0;
    background-color:rgba(255, 255, 255, 0.737);
    flex-direction: row;
    

        div {
            text-align: center;
            margin: 2rem 0.5rem auto 0.5rem;
        }

        p {
            display: flex;
            text-align: center;
            justify-content: center;
            margin: 1rem;
        }
    }
    
    .sectioncontacto {
        margin: 1rem;
    
        p {
            margin: 2rem;
        }
    }
    
    .sectionnosotros {
        margin: 1rem;

        h2 {
            font-size: 3rem;
            margin: 2rem;
        }

        p {
            font-size: 1.5rem;
            margin: 2rem 2rem 14rem 2rem;
        }
    }
    
    .sectionfinal {
        .articlefinal p {
            font-size: 1.3rem;
        }
    }
}